<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${omero.logfile}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${omero.logfile}.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>9</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>500MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%date %-5level [%40.40logger{40}] \(%10.10thread\) %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SIFT" class="ome.util.logback.SiftingWhileRejectingDefaultAppender">
    <!-- in the absence of the class attribute, it is assumed that the
         desired discriminator type is
         ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
    <discriminator>
      <key>fileset</key>
      <defaultValue>default</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${fileset}" class="ch.qos.logback.core.FileAppender">
        <!-- The first part of this path needs to come from somewhere else -->
        <file>${omero.managed.dir}/${fileset}</file>
        <append>false</append>
        <encoder>
          <pattern>%date %-5level [%40.40logger{40}] \(%10.10thread\) %msg%n</pattern>
        </encoder>
      </appender>
    </sift>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <!-- PERF4J ///////////////////////////////////////////////////////////////// -->
  <appender name="Perf4jJmxAppender" class="org.perf4j.logback.JmxAttributeStatisticsAppender">
    <param name="TagNamesToExpose" value="omero.call.success,omero.call.exception,omero.session"/>
  </appender>

  <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
    <param name="TimeSlice" value="30000"/>
    <appender-ref ref="Perf4jJmxAppender"/>
  </appender>

  <logger name="org.perf4j.TimingLogger">
    <level value="DEBUG"/>
    <appender-ref ref="CoalescingStatistics"/>
  </logger>

  <!-- All below are ROOT loggers -->

  <!-- INTERNAL /////////////////////////////////////////////////////////////// -->
  <logger name="ome" level="DEBUG"/>
  <logger name="ome.formats" level="DEBUG"/>
  <logger name="omero" level="DEBUG"/>
  <logger name="omeis" level="DEBUG"/>
  <logger name="OMERO" level="DEBUG"/>
  <!-- Inherit from Spring/etc and so are a bit verbose -->
  <logger name="ome.system.OmeroContext" level="INFO"/>
  <logger name="ome.system.PreferenceContext" level="INFO"/>
  <logger name="ome.security.basic.CurrentDetails" level="DEBUG"/>
  <logger name="ome.services.blitz.impl.ServiceFactoryI" level="DEBUG"/>
  <logger name="ome.services.blitz.impl.OmeroMetadata" level="DEBUG"/>
  <logger name="ome.services.blitz.util.ShutdownSafeEhcacheManagerFactoryBean" level="INFO"/>
  <!-- Often useful to change to DEBUG -->
  <logger name="omero.cmd" level="DEBUG"/>
  <logger name="ome.services.graphs" level="DEBUG"/>
  <logger name="ome.services.chgrp" level="DEBUG"/>
  <logger name="ome.services.chmod" level="DEBUG"/>
  <logger name="ome.services.delete" level="DEBUG"/>
  <!-- Adapters are also too so is a bit verbose -->
  <logger name="ome.adapters" level="WARN"/>

  <!-- THIRD PARTY //////////////////////////////////////////////////////////// -->
  <logger name="org.apache" level="INFO"/>
  <logger name="org.jgroups" level="INFO"/>
  <logger name="org.quartz" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="org.springframework" level="INFO"/>
  <!-- Suppressing "Warning missing properties files" -->
  <logger name="org.springframework.beans" level="WARN"/>
  <!-- Whether or not to print jamon timing INFO. ERROR or TRACE -->
  <logger name="org.springframework.aop.interceptor.JamonPerformanceMonitorInterceptor" level="TRACE"/>
  <!-- Quieting blitz startup -->
  <logger name="net.sf.ehcache" level="WARN"/>
  <logger name="loci" level="DEBUG"/><!-- Bio-Formats -->
  <logger name="loci.formats.Memoizer" level="DEBUG"/>
  <logger name="ucar" level="INFO"/><!-- NetCDF -->

  <!-- BUILD ////////////////////////////////////////////////////////////////// -->
  <logger name="org.hibernate.tool.hbm2x.POJOExporter" level="WARN"/>
  <logger name="velocity" level="WARN"/>
  <logger name="ome.dsl.utests" level="INFO"/>
  <logger name="ome.util.utests.PojoOptionsTest" level="INFO"/>

  <!-- DATABASE /////////////////////////////////////////////////////////////// -->
  <logger name="bitronix" level="INFO"/>
  <!-- Limit memory WARNing -->
  <logger name="org.hibernate.hql.ast.QueryTranslatorImpl" level="WARN"/>
  <!-- Limit fail-safe cleanup -->
  <logger name="org.hibernate.engine.loading.LoadContexts" level="WARN"/>
  <!-- This is bogus, and will be caught by our exception handlers anyway -->
  <logger name="org.hibernate.util.JDBCExceptionReporter" level="WARN"/>
  <!-- Printed on startup -->
  <logger name="org.hibernate.search.engine.DocumentBuilderContainedEntity" level="WARN"/>
  <!-- Other overly verbose messages -->
  <logger name="org.hibernate.SQL" level="WARN"/>
  <logger name="org.hibernate.cfg" level="WARN"/>
  <logger name="org.hibernate.engine" level="WARN"/>
  <logger name="org.hibernate.hql" level="INFO"/> <!-- for first/max in memory -->
  <logger name="org.hibernate.hql.PARSER" level="WARN"/>
  <logger name="org.hibernate.loader" level="WARN"/>
  <logger name="org.hibernate.persister" level="WARN"/>
  <logger name="org.hibernate.pretty" level="WARN"/>
  <logger name="org.hibernate.type" level="WARN"/>
  <logger name="org.hibernate.validator" level="WARN"/>

    <!-- Import logs //////////////////////////////////////////////////////////// -->
  <logger name="ome.services.blitz.repo.ManagedImportRequestI">
    <level value="DEBUG"/>
    <appender-ref ref="SIFT"/>
  </logger>

  <logger name="ome.annotations">
    <level value="DEBUG"/>
    <appender-ref ref="SIFT"/>
  </logger>

  <logger name="ome.logic">
    <level value="DEBUG"/>
    <appender-ref ref="SIFT"/>
  </logger>

  <logger name="ome.security">
    <level value="DEBUG"/>
    <appender-ref ref="SIFT"/>
  </logger>

  <logger name="ome.tools">
    <level value="DEBUG"/>
    <appender-ref ref="SIFT"/>
  </logger>

  <logger name="omero">
    <level value="DEBUG"/>
    <appender-ref ref="SIFT"/>
  </logger>

  <logger name="loci">
    <level value="DEBUG"/>
    <appender-ref ref="SIFT"/>
  </logger>

  <root level="OFF">
    <appender-ref ref="FILE"/>
  </root>

</configuration>
